.delete-announcement:hover{
    background-color: #fdeeee;
}
.delete-announcement{
    border-radius: 40%;
    border: none;
    background-color: white;
    transition: 0.25s ease;
 }
.edit-announcement:hover{
      background-color: #f1f5ff;
  }
.edit-announcement{
    border-radius: 40%;
    border: none;
    background-color: white;
    transition: 0.25s ease;
}
.trash {
    transition: 0.25s ease;
}
.trash:hover{
    color: #c70000;
}
.edit{
    transition: 0.25s ease;
}
.edit:hover{
    color: #003cb9;
}


.no-overflow {
    overflow: hidden;
}
.image{
    transition: 0.3s ease;
    overflow: hidden;
    filter: grayscale(90%);
}
.image:hover
{
    filter: grayscale(40%);
    transform: scale(1.1);
}
.announcement-user{
    background-color: rgba(255, 255, 255, 0.75);
    border: solid;
}
.announcement-user:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.announcements-hovering{
    background-color: #1A659E;
    transition: 0.08s;
    cursor: pointer;
    color: #EFEFD0;
    transition: 0.3s ease;
    border-radius: 20px;
    overflow: hidden;
}
.announcements-hovering img{
    width: 100%;
    filter: grayscale(100%);
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s ease;
}
.announcements-hovering:hover{
    /*background-color: #f7f7f7;*/
    /*color: #FF6B35;*/
    color: #F7C59F;
    background-color: #004E89;
    transition: 0.5s ease;
}

.announcements-hovering:hover img{
    filter: grayscale(0%);
    scale: 1.1;
}