.scale{
    height: 100%;
    width: 100%;
}
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgba(201,153,127,0.55);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}
.right-arrow:hover{
    color: rgba(201,153,127,0.8);
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgba(201,153,127,0.55);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}
.left-arrow:hover{
    color: rgba(201,153,127,0.8);
}
.slide {
    opacity: 0;
    transition-duration: 1s;
}

.slide.active {
    opacity: 1;
    transition-duration: 1.2s;
    transform: scale(1.08);
}

.marker{

    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(3.5);
    color: rgba(0,78,137,1);


}
.volunbox{
    transition-duration: 10s;
    display: flex;
    justify-content: center;
    align-items: center;

}