.scale{
    height: 100%;
    width: 100%;
}
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 38%;
    left: 11vw;
    margin-right: 0.5vw;
    font-size: 3rem;
    color: rgba(0,78,137,0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}
.right-arrow:hover{
    color: rgba(0,78,137,0.9);
}
.left-arrow {
    position: absolute;
    top: 38%;
    left: 0.5vw;
    font-size: 3rem;
    color: rgba(0, 78, 137, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}
.left-arrow:hover{
    color: rgba(0,78,137,0.9);
}
.slide {
    opacity: 0;
    transition-duration: 1s;
}

.slide.active {
    opacity: 1;
    transition-duration: 1.2s;
    transform: scale(1.08);
}

.marker{
    bottom: 0.8vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(3.5);
    color: rgba(0,78,137,1);


}
.volunbox{
    transition-duration: 10s;
    display: flex;
    justify-content: center;
    align-items: center;

}