/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap'); */
* {
    margin: 0;
    padding: 0;

}
/* .font{
    font-family: 'Pacifico', cursive;
    font-family: 'Righteous', cursive;
} */
.user-panel-style{
    border-top: none;
}
.side-bar{
    position: fixed;
}
.left{
    margin-left: 12%;
}
.section {
    color: black;
    transition : 0.15s ease;
    line-height: 2.5vw;
    font-size : 1.25vw;
}

.section:hover
{
    color: #E55405;
}
.selectedSection
{
    color: #E55405;
}
.active
{
}
.sidebar_list
{
    color: black;
    border-radius: 20%;
}
.list-section{
    list-style-type: none;
}
