
.mainpagetest{
    height: 100%;
    margin: 0;
    padding-left: 15%;
    /* padding-right: 15%; */
}

.leftboxes1{
    padding-left: 0%;
    padding-top: 1%;
    display: inline;
}

.rightboxes1{
    padding-left: 2%;
    padding-top: 1%;
}

.groupbox1{
    display: flex;
    
}

.groupbox2{
    display: flex;
    justify-content: center;
    position: relative;
    
}

.profheader{
    text-align: center;
    padding-top: 10%;
}

.prog{
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.complete{
    text-align: center;
    padding-top: 10%;
}

.progheader{
    text-align: center;
    padding-top: 2%;
}

h1,h2,h3 {
    text-align: center;
}


.sliding{
    width: 900;
    padding-left: 1%;
}

/*   ---------------------------------------   */


/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  @-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
  }
  
  @keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
  }
  
  @-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
  }
  
  @keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
  }
  
  .preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
  }
  
  .preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: rgba(0,78,137,1);
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
  }
  
  .preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
  }
  
  .preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: rgba(0,78,137,1);
    border-radius: 50%;
  }




/* global styles */

  ::selection {
    background: rgba(0,78,137,1);
    color: #fff;
  }
  
  ::-moz-selection {
    background: rgba(0,78,137,1);
    color: #fff;
  }
  
  .text-button a {
    font-size: 14px;
    color: rgba(0,78,137,1);
    font-weight: 500;
    transition: all .3s;
  }
  
  .text-button a i {
    margin-left: 5px;
    transition: all .3s;
  }
  
  .text-button a:hover i {
    margin-left: 10px;
  }
  
  .border-button a {
    font-size: 14px;
    color: rgba(0,78,137,1);
    background-color: transparent;
    border: 1px solid rgba(0,78,137,1);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }
  
  .border-button a:hover {
    background-color: rgba(0,78,137,1);
    color: #fff;
  }
  
  .main-button a {
    font-size: 14px;
    color: #fff;
    background-color: rgba(0,78,137,1);
    border: 1px solid rgba(0,78,137,1);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }
  .main-button .annc {
    font-size: 14px;
    color: #fff;
    background-color: rgba(0,78,137,1);
    border: 1px solid rgba(0,78,137,1);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }
  


  
  .main-button a:hover {
    background-color: #fff;
    color: rgba(0,78,137,1);
    border: 1px solid #fff;
  }
  .main-button .annc:hover {
    background-color: #fff;
    color: rgba(0,78,137,1) !important ;
    border: 1px solid rgb(175, 175, 175);
  }
  

  
  section {
    margin-top: 120px;
  }
  
  .section-heading {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: left;
  }
  
  .section-heading h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #2a2a2a;
  }

/* end global styles */


/* slider */

#section-1 {
    margin-top: 0px;
    height: 95vh;
    min-height: 700px;
    color: #fff;
    background-color: #222;
    position: relative;
  }
  #section-1 .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #section-1 .content-slider input {
    display: none;
  }
  #section-1 .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
  }
  #section-1 .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.5s ease;
  }
  #section-1 .more-info {
    margin-top: 60px;
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 61px;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 130px;
    display: inline-block;
  }
  #section-1 .more-info i {
    color: rgba(0,78,137,1);
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 58px;
    border: 1px solid rgba(0,78,137,1);
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }
  #section-1 .more-info h4 {
    text-align: left;
    font-size: 20px;
    color: rgba(0,78,137,1);
    font-weight: 700;
    line-height: 28px;
  }
  #section-1 .more-info h4 span {
    font-size: 15px;
    color: #afafaf;
    font-weight: 400;
  }
  #section-1 .main-button {
    margin-top: 8px;
    text-align: right;
  }
  #section-1 .main-button a:hover {
    background-color: rgba(0,78,137,1);
    border-color: rgba(0,78,137,1);
    color: #fff;
    opacity: 0.8;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    box-sizing: border-box;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .main-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin-left: 39%;
    margin-right: 39%;
    
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-shadow : 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: rgba(0,78,137,1);
    border-color: rgba(0,78,137,1);
    transition: 0.3s;
  }
  #section-1 .content-slider .slider #top-banner-1 {
    /* background: url('../../Assets/images/banner-01.jpg') no-repeat center center; */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #section-1 .content-slider .slider #top-banner-2 {
    background: url('../../Assets/images/banner-02.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #section-1 .content-slider .slider #top-banner-3 {
    background: url('../../Assets/images/banner-03.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #section-1 .content-slider .slider #top-banner-4 {
    background: url('../../Assets/images/banner-04.jpg') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 10;
    text-align: center;
  }
  #section-1 .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    color: #fff;
  }
  #section-1 .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 19.5%;
    height: 3.1em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #f6eac5;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
  }
  #section-1 .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #f6eac5;
    z-index: 100;
  }
  #section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: rgba(0,78,137,1);
  }
  #section-1 .content-slider nav .controls label span.text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  #section-1 .content-slider nav .controls label:hover {
    color: rgba(0,78,137,1);
  }
  #section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
  #section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
  #section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
  #section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
    opacity: 1;
    z-index: 1;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
    cursor: default;
    color: #fff;
    transition: all 0.5s;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
    background: #fff;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
    animation: progressBarFill 5s linear;
  }
  /* Animations */
  @keyframes progressBarFill {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }

  .fa-user::before {
    content: "\f007"; 
  }


  .search-form #search-form {
    background-color: rgba(0,78,137,1);
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    padding: 35px 60px;
    margin-bottom: 100px;
  }
  
  .search-form #search-form h4 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .search-form #search-form select {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
  }
  
  .search-form #search-form option {
    background-color: rgba(0,78,137,1);
  }

  .search-form  .row{
    margin-top: 10px;
  }



  .search-form .innerFilter{
    background-color: rgb(255, 254, 254);
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    padding: 20px 40px;
    margin-bottom: 20px;
    
  }

  

  .search-form .filterTag{
    background-color: rgba(0,78,137,1);
    border: 1px solid rgba(0,78,137,1);
    cursor: pointer;
    color: #fff;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0,78,137,1);
    border-radius: 25px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }

  .search-form .filterTag:hover{

    background-color: #fff;
    border-color: rgba(0,78,137,1);
    color: rgba(0,78,137,1);
    opacity: 0.8;
  }

  .search-form .filterTag .deletebutton{
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid white;
    border-radius: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* .search-form #search-form button {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  } */
  
  /* .search-form #search-form button:hover {
    background-color: #fff;
    color: rgba(0,78,137,1);
  } */
  
  .cities-town .slider-content-main-page
  {
    min-height: 100%;
    max-height: 100%;
    position: relative;
    margin-top: 23px;
    background-color: #fff;
    border-radius: 23px;
    padding: 60px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  }
  .cities-town .slider-content-main-page h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .cities-town .slider-content-main-page h2 em {
    font-style: normal;
    color: rgba(0,78,137,1);
  }
  
  .cities-town .slider-content-main-page .item .thumb {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .cities-town .slider-content-main-page .item .thumb h4 {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 20px;
    color: #fff;
  }
  
  .cities-town .owl-nav {
    position: absolute;
    top: -60px;
    right: 0;
  }
  
  .cities-town .owl-nav .owl-next span {
    display: none;
  }
  
  .cities-town .owl-nav .owl-next::after {
    font-family: "FontAwesome";
    content: '\f061'; 
    color: #cdcdcd;
    font-size: 20px;
    transition: all .3s;
  }
  
  .cities-town .owl-nav .owl-prev span {
    display: none;
  }
  
  .cities-town .owl-nav .owl-prev::after {
    font-family: "FontAwesome";
    content: '\f060'; 
    color: #cdcdcd;
    margin-right: 15px;
    font-size: 20px;
    transition: all .3s;
  }
  
  .cities-town .owl-nav .owl-prev:hover::after,
  .cities-town .owl-nav .owl-next:hover::after {
    color: rgba(0,78,137,1);
  }
  .card-silder {
    margin-top: 120px;
  }
  .card-silder .row{
    justify-content: center;
  }
  .amazing-deals {
    margin-top: 120px;
  }
  
  .amazing-deals .image {
    height: 360px;
    overflow: hidden;
    width: 260px;
    display: flex;
  }
  /* for transition : */

  .search-form .row {
    justify-content: center;
  }

  .amazing-deals .item .image {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    overflow: hidden;

  }
  
  .amazing-deals .item {
    background-color: #f7f7f7;
    border-radius: 23px;
    padding-right: 30px;
    margin-bottom: 30px;
    animation: fade-in 1s ease-in-out;
    
  }

  .item .content p{
    cursor : pointer;
  }

  .item .content p:hover{
    color : rgba(0,78,137,1)
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .example-appear {
    opacity: 0;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }
  

  
  .amazing-deals .item span.info {
    color: rgba(0,78,137,1);
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
  }
  
  .amazing-deals .item h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .amazing-deals .item i {
    color: #777;
    margin-right: 5px;
  }
  
  .amazing-deals .item span.list {
    font-size: 15px;
    color: #afafaf;
    font-weight: 500;
  }
  
  .amazing-deals .item .content {
    padding: 15px 0px;
  }
  
  .amazing-deals .item p {
    padding-top: 15px;
    margin-top: 10px;
    color: #afafaf;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    word-wrap: break-word; /* Breaks long words to fit the container */
    white-space: pre-wrap; 
  }

  .dialogdesc{
    padding-left: 20px;
    padding-right: 20px;
  }
  .dialogdesc p{
    word-wrap: break-word !important; /* Breaks long words to fit the container */
    white-space: pre-wrap;

  }

  .my-date-picker{
    height: 53px;
    border-radius: 4px;
    border: 1px solid #c4c3c3;
    margin-left: 30px;
    padding-left: 20px;
    
  }
  .my-date-picker:hover{    
    border: 1px solid black;
  }
  
  .amazing-deals ul.page-numbers {
    text-align: center;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  .amazing-deals ul.page-numbers li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  .amazing-deals ul.page-numbers li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(0,78,137,1);
    line-height: 44px;
    color: rgba(0,78,137,1);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    transition: all .3s;
  }
  
  .amazing-deals ul.page-numbers li.active a,
  .amazing-deals ul.page-numbers li a:hover {
    background-color: rgba(0,78,137,1);
    color: #fff;
  }
  
  .amazing-deals ul.page-numbers li:first-child a,
  .amazing-deals ul.page-numbers li:last-child a {
    border: none;
  }


/* Pagination Style */
.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 5px;
  /* background-color: #f7f7f7;
  border-radius: 20px; */
}


/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 575px) {

}


@media (max-width: 767px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 120px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 15px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 36px;
  }
  #section-1 .more-info {
    padding: 30px;
    margin-top: 30px !important;
    border-radius: 23px;
    bottom: 110px;
    width: 95%;
    left: 2.5%;
  }
  #section-1 .more-info i {
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
  }
  .visit-country .item .right-content .main-button a {
    font-size: 14px;
    padding: 12px 15px;
  }
  .main-button a {
    text-align: center;
  }
  #section-1 .more-info h4 {
    font-size: 14px !important;
  }
  #section-1 .content-slider nav .controls label { 
    width: 7% !important;
  }
  .visit-country .item .right-content ul li {
    width: 30%;
  }
  .visit-country .item .right-content h4 {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  #section-1 .more-info {
    margin-top: 60px;
    height: 250px;
  }
  #section-1 .more-info h4 span {
    font-size: 15px;
  }
  #section-1 .more-info h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #section-1 .main-button {
    text-align: left;
  }
  #section-1 .content-slider nav .controls label {
    width: 15%;
  }
  .visit-country .item .right-content ul li {
    width: 30% !important;
  }
  .visit-country .item .right-content {
    position: relative;
  }
  
  .visit-country .side-bar-map {
    margin-left: 0px;
    margin-top: 60px;
  }
  .call-to-action h2,
  .call-to-action h4 {
    text-align: center;
  }
  .call-to-action .border-button {
    text-align: center;
    margin-top: 30px;
  }
  .about-main-content .content p {
    padding: 0px 5%;
  }
  .weekly-offers .container-fluid {
    padding: 0px;
  }
  .more-about .left-image {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .search-form #search-form h4 {
    margin-bottom: 15px;
  }
  .search-form #search-form select {
    margin-bottom: 30px;
  }
  .amazing-deals .item .image {
    border-top-right-radius: 23px;
    border-bottom-left-radius: 0px;
  }
  .amazing-deals .item {
    padding-right: 0px;
  }
  .amazing-deals .item .content {
    padding: 30px !important;
  }
  .more-info .info-item {
    margin-bottom: 30px;
  }
  .reservation-form #reservation-form {
    padding: 45px 30px;
  }
}

@media (max-width: 1200px) {
  #section-1 .more-info h4 span {
    font-size: 12px;
  }
  #section-1 .more-info h4 {
    font-size: 15px;
  }
  .weekly-offers .container-fluid {
    padding: 0px;
  }
}
@media (max-width: 1100px) {
  #section-1 .more-info h4 span {
    font-size: 12px;
  }
  #section-1 .more-info h4 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .my-date-picker{
    width: 120px;
  }
  .amazing-deals .item .image {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    overflow: hidden;

  }
  .amazing-deals .image {
    height: 360px;
    overflow: hidden;
    width: 222px;
    display: flex;
  }

  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
}


@media (max-width: 1646px) {

  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

}

@media (max-width: 1481px) {

  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

}
@media (max-width: 1400px) {

  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

}

