
.progbox{
    padding-left: 10%;
    padding-top: 1%;
}


.boxheader2{
    text-align: left;
    padding-top: 20px;
    padding-left: 5%;
}

.prog{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 7%;
    
}

.complete{
    padding-top: 4%;
    text-align: center;
}
