@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.website-name {
    font-family: 'Courgette',  sans-serif;
    font-weight: bold;
}

.css-7e0s21-MuiPaper-root-MuiAppBar-root {
    height: 4.5rem;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #EFEFD0;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EFEFD0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


