.leaflet-container {
    width: 25rem;
    height: 25rem;
    border-radius: 10px;
}

.map-container {
    position: relative;
    margin-left: 3rem;
}

.edit-location-button {
    position: absolute;
    z-index: 10000;
}