* {
    margin: 0;
    padding: 0;
}

.settings {
    width           : 100%;
    height          : 100%;
    /*background: #EDE7E6;*/
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #004E89;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #004E89;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.selected-tab{
    background-color: #004E89;
    color: #EFEFD0;
}
